include _mixins
block footer

    footer#footer.footer

        .container

            .footer__inner

                .footer__logo
                    a(href="/")
                        .footer__logo-img
                            img(src="assets/images/logo.svg", alt="logo")
                        .footer__logo-label
                            p
                                img(src="assets/images/logo-label-1.svg", alt="label")
                            p
                                img(src="assets/images/logo-label-2.svg", alt="label")

                .footer__wrapper

                    .footer__menu
                        ul
                            li
                                a(href="#") План посёлка
                            li
                                a(href="#") Дома
                            li
                                a(href="#") Яхт-клуб
                            li
                                a(href="#") Парусная школа
                            li
                                a(href="#") Гольф-поле
                            li
                                a(href="#") Академия гольфа
                            li
                                a(href="#") Календарь мероприятий
                            li
                                a(href="#") ресторан
                            li
                                a(href="#") Каток
                            li
                                a(href="#") Конюшня
                            li
                                a(href="#") ресторан
                            li
                                a(href="#") Лыжная/конная трасса
                            li
                                a(href="#") Фото/видео
                            li
                                a(href="#") Контакты

                    .footer__info

                        .footer__socials
                            ul
                                li
                                    a(href="#")
                                        img(src="assets/images/vk.svg", alt="vk")
                                li
                                    a(href="#")
                                        img(src="assets/images/tg.svg", alt="telegram")
                                li
                                    a(href="#")
                                        img(src="assets/images/wp.svg", alt="whatsapp")
                        .footer__info-row
                            p телефон:
                            p
                                a(href="tel:+74996474141") +7 (499) 647-41-41
                        .footer__info-row
                            p Яхт-клуб
                            p
                                a(href="mailto:call@pirogovo.ru") call@pirogovo.ru
                        .footer__info-row
                            p Режим работы
                            p 9:00-21:00

                        .footer__info-address
                            p Мытищи, поселок Тур пансионат Клязьминское водохранилище, дом 3«А». Показать <a href="#">на карте</a>

                .footer__bottom
                    .footer__policy
                        a(href="#") Политика конфиденциальности
                    
                    .footer__copyright © Все права защищены ‘2023
                    
                    .footer__dev
                        a(href="https://di-project.studio/") Разработка сайта
                        span Di-Project