html {
  scroll-behavior: smooth;
}

body {
  background: #171717;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .4s;
}

body.overflow-hidden {
  overflow: hidden;
}

body b {
  font-weight: 700;
  color: #000;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;

  @include breakpoint(lg) {
    width: 5px;
    height: 10px;
  }
}

::-webkit-scrollbar-track {

  @include breakpoint(lg) {
    background: #f7f7f7;
  }
}

::-webkit-scrollbar-thumb {

  @include breakpoint(lg) {
    background: #F0B446;
  }
}

* {

  @include breakpoint(lg) {
    scrollbar-width: thin;
    scrollbar-color: #F0B446 #f7f7f7;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

main {
  min-height: calc(max(calc(100vh - 614px), 650px));

  @include breakpoint(md) {
    min-height: calc(max(calc(100vh - 614px), 570px));
  }

  @include breakpoint(xl) {
    height: 100vh;
  }
}

.hide {
  display: none !important;
}

#page {
  position: relative;
  min-width: 360px;

}

.arrow-up {
  display: none;

  @include breakpoint(xl) {
    position: fixed;
    bottom: 100px;
    left: 121px;
    display: flex;
    align-items: center;
    font-size: 18px;
    animation: .6s ease-in-out infinite alternate arrowUp;
    z-index: 10;
    user-select: none;
  }

  @include breakpoint(hd) {
    left: 128px;
  }
}

@keyframes arrowUp {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-0.4em);
  }
}

.section-subtitle {
  margin-bottom: 25px;
  font-size: 12px;
  font-weight: 300;
  line-height: 125%;
  color: #DDD;
  text-transform: uppercase;

  @include breakpoint(hd) {
    font-size: 16px;
  }
}

.section-subtitle ~ .section-subtitle {
  margin-top: 30px;
}

.video {
  position: relative;
  height: 100vw;

  @include breakpoint(md) {
    height: 390px;
  }

  @include breakpoint(xl) {
    height: 100%;
  }
}

.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: calc(100% - 62px);
  z-index: 1;
  background: red;
  opacity: 0.3;
}

.video.custom-1::before {

  @include breakpointMax(md) {
    padding-bottom: 66.666%;
    height: 0;
  }

  @include breakpoint(md) {
    height: calc(100% - 45px);
  }

  @include breakpoint(xl) {
    height: calc(100% - 195px);
  }

  @include breakpoint(hd) {
    height: calc(100% - 45px);
  }
}

.video.custom-2 {

  @include breakpoint(md) {
    
    @include breakpointMax(xl) {
      margin: 0 auto;
      padding: 0 30px;
      max-width: 684px;
      box-sizing: content-box;
    }
  }
}

.video.custom-2::before {
  @include breakpointMax(md) {
    padding-bottom: 60.666%;
    height: 0;
  }

  @include breakpoint(md) {
    height: calc(100% - 95px);
  }

  @include breakpoint(xl) {
    height: calc(100% - 125px);
  }

  @include breakpoint(hd) {
    height: calc(100% - 80px);
  }
}

.video.custom-3::before {

  @include breakpointMax(md) {
    padding-bottom: 66.666%;
    height: 0;
  }

  @include breakpoint(md) {
    height: calc(100% - 45px);
  }
  
  @include breakpoint(xl) {
    height: calc(100% - 90px);
  }

  @include breakpoint(hd) {
    height: calc(100% - 45px);
  }
}

.video.custom-4::before {

  @include breakpointMax(md) {
    padding-bottom: 66.666%;
    height: 0;
  }

  @include breakpoint(md) {
    height: calc(100% - 45px);
  }
  
  @include breakpoint(xl) {
    height: calc(100% - 170px);
  }

  @include breakpoint(hd) {
    height: calc(100% - 45px);
  }
}

.video iframe {
  display: none;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0;
}

.play .video iframe {
  display: block;
  opacity: 1;
}

.video-img {
  height: 100%;
}

.video-img.hidden {
  display: none;
}

.video-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.play-icon {
  background-image: url(../images/dc_play.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  opacity: .7;
  cursor: pointer;
  transition: .15s linear;
  z-index: 15;

  @include breakpoint(xl) {
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
  }

  @include breakpoint(hd) {
    top: calc(50% - 44px);
    left: calc(50% - 44px);
    width: 88px;
    height: 88px;
  }
}

.play-icon.hidden {
  display: none;
}

.content-text {
  padding: 60px 30px;

  @include breakpoint(md) {
    padding: 60px 40px;
  }

  @include breakpoint(xl) {
    padding: 50px 114px 90px 35px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  @include breakpoint(hd) {
    padding: 68px 156px 124px 48px;
  }
}

.content-text.flex-end {

  @include breakpoint(xl) {
    justify-content: flex-end;
  }
}

ul li ~ li {
  margin-top: 25px;
}

.play .section-top {
  display: none;
}

.section-title {
  margin-bottom: 20px;
  font-family: $times;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;

  @include breakpoint(md) {
    font-size: 45px;
    line-height: 1;
  }

  @include breakpoint(xl) {
    margin-bottom: 30px;
    font-size: 55px;
  }

  @include breakpoint(hd) {
    margin-bottom: 51px;
    font-size: 75px;
}
}

.section-text {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;

  @include breakpoint(xl) {
    font-size: 20px;
    line-height: 1.2;
  }

  @include breakpoint(hd) {
      font-size: 27px;
      line-height: 30px;
  }
}

.js-anchor {
  position: relative;
}

.js-anchor::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.anchor-link {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 300;
  line-height: 125%;
  text-transform: uppercase;
  color: #FDFF07;
  cursor: pointer;
  transition: color .15s linear;

  @include breakpoint(xl) {
    color: #AFAFAF;
  }
}

.js-anchor:hover .anchor-link {
  color: #FDFF07;
}

.slider {

  @include breakpoint(md) {
    height: 390px;
  }

  @include breakpoint(lg) {
    height: 450px;
  }

  @include breakpoint(xl) {
    height: auto;
  }
}

.slider .swiper {
  height: 100%;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-nav {
  --swiper-navigation-size: 32px;
  --swiper-theme-color: #fff;
}

.swiper-nav .swiper-button-next, .swiper-button-prev {
  padding: 32px 24px;
  background-color: rgba(0,0,0,0.1);
  opacity: 0.6;
  transition: opacity .3s ease;
}

.swiper-nav .swiper-button-prev {
  left: 0;
}

.swiper-nav .swiper-button-next {
  right: 0;
}

.swiper-nav .swiper-button-prev:hover,
.swiper-nav .swiper-button-next:hover {
  opacity: 1;
}

.text-label {
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  color: #666;

  @include breakpoint(xl) {
    margin-bottom: 70px;
  }
}

