---
title: Разработка интерактивных 3D презентаций и инсталляций под заказ
---

extends includes/_page

block main

    .wrapper.second-page

        section#menu.menu

            .menu-wrapper

                .menu-left

                    .label
                        a(href="https://www.dctouch.ru/")
                            img(src="assets/images/dc-is.webp", alt="label")

                    ul
                        li
                            a(href="https://www.dctouch.ru/") Главный сайт
                        li
                            a.js-anchor(href="#form") Заказать
                        li
                            a.js-anchor(href="#contacts") Контакты

                .menu-right#openMenu
                    .logo-img
                        img(src="assets/images/logo.webp", alt="logo")
                    .logo-text меню

        section.section-first(style="background-image: url('assets/images/virtualreality/AVENUE_5.webp')")
            h1.main-title Разработка виртуальной реальности
            p.main-subtitle Интеграция VR в бизнес задачи

        section.text-image-section.reverse.section-gray
            .content-text
                .section-subtitle Стратегия
                p Проверенный опыт в создании эффективных проектов, помогает внедрять виртуальную реальность в рабочие процессы для повышения вовлеченности клиентов и производительности сотрудников. Оценка условий и разработка удобных рабочих инструментов, которые просты в обслуживании и&nbsp;настраиваются в соответствии с потребностями бизнеса. Помощь в подборке правильного оборудования и разработка приложений виртуальной реальности для индивидуальной задачи

            .video
                .video-img
                    img(src="assets/images/virtualreality/AVENUE_1.webp", alt="разработка приложений виртуальной реальности")

                video(controls controlsList="nodownload" playsinline)
                    //- source(src="assets/images/video/virtualreality/UE5_ARCHIVIZ_AVENUE.mp4", type="video/mp4")
                    source(src="assets/images/video/virtualreality/Venice_5.mp4", type="video/mp4")
                    |Ваш браузер не поддерживает видео
                .play-icon

        section.text-section.section-dark
            .content-text
                .section-subtitle Инструменты

                p Для получения ультра-реалистичного опыта погружения в виртуальную среду используются:
                br
                ul
                    li — Современные инструменты облачного рендеринга, для генерации максимального качества картинки на выходе
                    li — Современные инструменты облачного рендеринга, для генерации максимального качества картинки на выходе
                    li — Платформы, поддерживающие практически неограниченное количество объектов в среде, позволяющих создавать гигантские метовселенные для профессиональных и развлекательных задач
                    li — Реалистичную систему освещения для достижения фотореалистичного качества
                    li — Мобильные системы отслеживания объектов в пространстве позволяющие совместить виртуальные объекты с физическими

        section.video-section
            .present
                .section-top
                    .section-title Интерактивная Презентация VR
                    .section-text Разработка виртуальной локации для взаимодействия с продуктом

                .present__video.video
                    .video-img
                        img(src="assets/images/virtualreality/LEX_1.webp", alt="разработка проектов виртуальной реальности")

                    video(controls controlsList="nodownload" playsinline)
                        //- source(src="assets/images/video/virtualreality/LEXUS NX UE4 RTX.mp4", type="video/mp4")
                        source(src="assets/images/video/virtualreality/Venice_5.mp4", type="video/mp4")
                        |Ваш браузер не поддерживает видео
                    .play-icon

        section.text-image-section.section-gray.section-custom
            .image
                img(src="assets/images/virtualreality/LEX_3.webp", alt="разработка систем виртуальной реальности")

            .content-text
                a.js-anchor(href="#form")
                    .section-subtitle VR презентации
                    p Разработка интерактивных презентаций товаров и услуг в виртуальной реальности для повышения лояльности клиента
                    .anchor-link Заказать

        section.text-section.section-dark
            .content-text
                a.js-anchor(href="#form")
                    .section-subtitle Разработка презентаций товаров и услуг в виртуальной реальности
                    p Используется раскрытие потенциала виртуальной реальности для предоставления максимально удобных методов ведения и симуляции коммерческой активности
                        br
                        br
                        |Интеграция решений информационных виртуальных технологий в повседневную жизнь клиентов вызвает положительный эмоциональный отклик, благодаря быстрому знакомству и взаимодействию с виртуальным продуктом, получении информации об услуге или продукте в моменте, экономя время и ресурсы
                        br
                        br
                        |Виртуальную реальность следует рассматривать как ключевую технологию в сфере претентации товаров и услуг, которая может упростить адаптацию традиционных бизнес-моделей. В этом аспекте маркетинговые коммуникации становятся более интерактивными и целенаправленными

                    .anchor-link Заказать

        section.video-section
            .present
                .section-top
                    .section-title Архитектура в VR
                    .section-text Презентация E-Volo Volocopter VC200

                .video.custom-4
                    .video-img
                        img(src="assets/images/virtualreality/NewWorld_1.webp", alt="разработка виртуальной реальности заказать")

                    video(controls controlsList="nodownload" playsinline)
                        //- source(src="assets/images/video/virtualreality/VR INNAVATION CENTER ｜ E-Volo Volocopter VC200.mp4", type="video/mp4")
                        source(src="assets/images/video/virtualreality/Venice_5.mp4", type="video/mp4")
                        |Ваш браузер не поддерживает видео
                    .play-icon

        section.text-image-section.section-gray.section-custom
            .image
                img(src="assets/images/virtualreality/NewWorld3.webp", alt="разработка виртуальная реальность на заказ")

            .content-text
                a.js-anchor(href="#form")
                    .section-subtitle VR презентации
                    p Разработка проектов виртуальной реальности для презентации архитектурных и интерьерных объектов
                    .anchor-link Заказать

        section.text-section.section-dark
            .content-text
                a.js-anchor(href="#form")
                    .section-subtitle Разработка виртуальной реальности для архитектуры и дизайна
                    .art__text
                        p Виртуальная реальность является мощным инструментом для архитекторы и дизайна. Приложения используются для создания высокореалистичных визуальных презентаций объектов, позволяя клиентам исследовать их в честном объеме до того, как они будут реализованы
                            br
                            br
                            |Виртуальная реальность является мощным инструментом для архитекторы и дизайна. Приложения используются для создания высокореалистичных визуальных презентаций объектов, позволяя клиентам исследовать их в честном объеме до того, как они будут реализованы
                            br
                            br
                            |Качество общего опыта значительно повышается за счет технологии виртуальной реальности, которая обеспечивает улучшенное ощущение масштаба и пространственную интуицию, а также реалистичное ощущение присутствия и погружения
                    .anchor-link Заказать

        section.image-section.section-bg(style="background-image: url('assets/images/virtualreality/logistic_4.webp')").custom-section
            .content-text
                .section-top
                    .section-title Виртуальная реальность для обучающих центров и ВУЗов
                    .section-text Разработка приложений виртуальной реальности для решения обучающих задач.

        section.text-image-section.reverse.section-gray
            .content-text
                a.js-anchor(href="#form")
                    .section-subtitle VR симулятор для обучения складской логистики
                    p Разработка приложения виртуальной реальности для решения обучающих задач. Основной функционал: симуляция работы склада, сбор заявок в реальном времени, рандомная конфигурация заявок
                    .anchor-link Заказать
            .video.custom-3
                .video-img
                    img(src="assets/images/virtualreality/logistic_6.webp", alt="разработка компьютерных игр виртуальной реальности")

                video(controls controlsList="nodownload" playsinline)
                    //- source(src="assets/images/video/virtualreality/VR LOGISTIC SIMULATOR.mp4", type="video/mp4")
                    source(src="assets/images/video/virtualreality/Venice_5.mp4", type="video/mp4")
                    |Ваш браузер не поддерживает видео
                .play-icon

        section.text-image-section.reverse.section-gray
            .content-text
                a.js-anchor(href="#form")
                    .section-subtitle VR симулятор для нефтедобывающего предприятия
                    p Проверенный опыт в создании эффективных проектов, помогает внедрять виртуальную реальность в рабочие процессы для повышения вовлеченности клиентов и производительности сотрудников. Оценка условий и разработка удобных рабочих инструментов, которые просты в обслуживании и
                        |настраиваются в соответствии с потребностями бизнеса. Помощь в подборке правильного
                        |оборудования и разработка приложений виртуальной реальности для индивидуальной задачи
                    .anchor-link Заказать
            .video.custom-3
                .video-img
                    img(src="assets/images/virtualreality/prom.webp", alt="разработка виртуальной реальности под ключ сенсорных устройств")

                video(controls controlsList="nodownload" playsinline)
                    //- source(src="assets/images/video/virtualreality/Pump interactive VR presentation.mp4", type="video/mp4")
                    source(src="assets/images/video/virtualreality/Venice_5.mp4", type="video/mp4")
                    |Ваш браузер не поддерживает видео
                .play-icon

        section.text-image-section.reverse.section-gray
            .content-text
                a.js-anchor(href="#form")
                    .section-subtitle VR симулятор фарминга
                    p Разработка VR симулятора сбора урожая на зерноуборочном комбайне JOHN DEERE
                    .anchor-link Заказать

            .video.custom-3
                .video-img
                    img(src="assets/images/virtualreality/farming-vr.webp", alt="разработка виар симулятора")

                video(controls controlsList="nodownload" playsinline)
                    //- source(src="assets/images/video/virtualreality/Farming Simulator JOHN DEERE VIRTUAL REALITY.mp4", type="video/mp4")
                    source(src="assets/images/video/virtualreality/Venice_5.mp4", type="video/mp4")
                    |Ваш браузер не поддерживает видео
                .play-icon

        section.text-section.section-dark
            .content-text
                a.js-anchor(href="#form")
                    .section-subtitle Виртуальная реальность для обучающих центров и ВУЗов
                    p Разрабатываемые образовательные продукты предназначены для студентов, которые занимаются как академическими, так и техническими аспектами дисциплин в VR. Программное обеспечение предназначено для вовлечения студентов и преподавателей в совместную учебную среду. Интегрируемый аппаратный комплекс
                        |предоставляет учащимся практический опыт, путем взимодействия с моделями и 3D-контентом, созданным в режиме реального времени

                    .section-subtitle Разработка промышленных симуляторов в виртуальной реальности
                    p Ключевая фунция промышленного симулятора в виртуальной реальности - снижение затрат на обучении, повышении безопасности и эффективности.
                        |Симулятор виртуальной реальности позволяет поставить новых сотрудников в условия, которые научат их быстро реагировать и принимать правильные решения. В рамках виртуальной среды моделируется любой производственный процесс, создаются ситуации, приближенные к реальности

                    .anchor-link Заказать

        section.form#form
            .form-wrap

                .form-title Оставить заявку или задать вопрос

                form(method="post")
                    .form-row
                        label Имя*:
                        input#formName.form__input._req.form__name(type="text")
                    .form-row
                        label email*:
                        input#formEmail.form__input._req._email.form__email(type="text")
                    .form-row
                        label сообщение:
                        textarea
                    .form-row
                        .checkbox-label
                            input#agreement.checkbox__input._req(type="checkbox" style="display:none" checked)
                            label(for="agreement")
                                p Я <a href="agreement" target="_blank">согласен</a> на обработку персональных данных (в соответствии с Федеральным законом РФ от 27 июля 2006 г. №152-ФЗ «О персональных данных»)
                    .form-row
                        button.form_button(type="submit") Отправить

                .info.hide Успешно отправлено
                #error_text.error_text.hide Пожалуйста, заполните обязательные поля
                #error_text-email.error_text-email.hide Пожалуйста, введите корректный email

        section.footer
            .footer__title
                .section-subtitle Другие проекты dctouch
                .text-label Выберите проект в списке для просмотра

            .footer__wrap
                ul.footer__list
                    li.footer__list-title VR
                    li.footer__list-item
                        a(href="https://www.dctouch.ru/projects/vr/avenue-archiviz" target="_blank") Avenue Archiviz
                    li.footer__list-item
                        a(href="https://www.dctouch.ru/projects/vr/vrconstruction-simulator" target="_blank") Construction Simulator
                    li.footer__list-item
                        a(href="https://www.dctouch.ru/projects/vr/vrdeere" target="_blank") Deere
                    li.footer__list-item
                        a(href="https://www.dctouch.ru/projects/vr/vreggg" target="_blank") EGGG
                    li.footer__list-item
                        a(href="https://www.dctouch.ru/projects/vr/vrinnovation-center-presentation" target="_blank") Innovation Center
                    li.footer__list-item
                        a(href="https://www.dctouch.ru/projects/vr/vrkitchen" target="_blank") KITCHEN
                    li.footer__list-item
                        a(href="https://www.dctouch.ru/projects/vr/lexus-nx" target="_blank") LEXUS NX
                    li.footer__list-item
                        a(href="https://www.dctouch.ru/projects/vr/vrlogistic-simulator" target="_blank") Logistic Simulator
                    li.footer__list-item
                        a(href="https://www.dctouch.ru/projects/vr/mercedes-benz" target="_blank") Mercedes-Benz ConceptCar
                    li.footer__list-item
                        a(href="https://www.dctouch.ru/projects/vr/vrvelton" target="_blank") Velton

                ul.footer__list
                    li.footer__list-title Системная интеграция
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/sistemnaya-integracziya/ekspoziczionno-multimediinyii-modul' target='_blank') Automated Exibition Hall
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/sistemnaya-integracziya/chaihona%E2%84%961' target='_blank') CHAIHONA №1
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/sistemnaya-integracziya/itschool' target='_blank') ITSCHOOL
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/sistemnaya-integracziya/porsche' target='_blank') PORSCHE
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/sistemnaya-integracziya/skcapsule' target='_blank') skCAPSULE
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/sistemnaya-integracziya/smart-city' target='_blank') Smart City
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/sistemnaya-integracziya/information-tech-museum' target='_blank') Музей информационных технологий
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/sistemnaya-integracziya/muzej-neural-networks' target='_blank') Музей Политех
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/sistemnaya-integracziya/muzej-tat' target='_blank') Музей ТатЭнерго
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/sistemnaya-integracziya/czentralnyij-ofis-sberbank' target='_blank') Центральный офис Сбербанка

                ul.footer__list
                    li.footer__list-title Мультедиа контент
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/cg/art-vfx-reel' target='_blank') ART VFX Reel
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/cg/future-medicine' target='_blank') Future Medicine
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/cg/kinect-interactive-wall-/-huawei' target='_blank') Kinect Interactive wall
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/cg/kn-classicgraph' target='_blank') KN_classicgraph
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/cg/mandelbrot' target='_blank') MANDELBROT
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/cg/nabokov-artgallery' target='_blank') Nabokov ARTgallery
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/cg/trail-interactive-setup' target='_blank') Trail Interactive Setup
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/cg/xgfs' target='_blank') xGFs

                ul.footer__list
                    li.footer__list-title Интерактивные инсталляции
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/soft/barvikha-luxury-village' target='_blank') Barviha Luxury Village
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/soft/burberry' target='_blank') Burberry
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/soft/dubai-expo-2020/' target='_blank') Dubai Expo 2020
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/soft/project-jaguar' target='_blank') Jaguar
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/soft/mercury-/-barvikha-luxury-village' target='_blank') Mercury
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/soft/tsum-fashion-show' target='_blank') Fashion Show 2022
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/soft/project-yota' target='_blank') YOTA Drone
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/soft/project-asi' target='_blank') АСИ
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/projects/soft/project-astrazeneca' target='_blank') Астразенека

                ul.footer__list
                    li.footer__list-title Интерактивное оборудование
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/tables/interaktivnyie-paneli/padquadro' target='_blank') padQUADRO
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/tables/gibridnyie-resheniya/smartschool' target='_blank') smartSCHOOL
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/tables/gibridnyie-resheniya/stella55' target='_blank') STELLA55
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/tables/gibridnyie-resheniya/zebra' target='_blank') ZEBRA
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/tables/gibridnyie-resheniya/photomirror' target='_blank') PHOTOMIRROR
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/tables/multitach-stolyi/flat' target='_blank') FLAT
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/tables/multitach-stolyi/flow' target='_blank') FLOW
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/tables/multitach-stolyi/glassy' target='_blank') GLASSY
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/tables/multitach-stolyi/glassy-modular' target='_blank') GLASSY MODULAR
                    li.footer__list-item
                        a(href='https://www.dctouch.ru/tables/multitach-stolyi/moka' target='_blank') MOKA

        section.contacts#contacts
            .section-subtitle контакты
            .contacts-title DCTOUCH
            .contacts-row
                p Москва
            .contacts-row
                p Новодмитровская ул., 5А
            .contacts-row
                a(href="tel:0074952276082") 007 495 227 60 82
            .contacts-row
                a(href="tel:0079162266082") 007 916 226 60 82
            .contacts-row
                a(href="mailto:support@dctouch.ru") support@dctouch.ru
            .contacts-row
                p
                    a(href="https://yandex.ru/maps/-/CCUV4SUFWC" target="_blank") КАРТА